app:
    resource: '@AppBundle/Controller/'
    type: annotation

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

api_login_check:
    path: /api/login_check

places:
    type:     rest
    resource: AppBundle\Controller\Api\PlaceController

prices:
    type:     rest
    resource: AppBundle\Controller\Api\Place\PriceController

themes:
    type:     rest
    resource: AppBundle\Controller\Api\Place\ThemeController

divisions:
    type:     rest
    resource: AppBundle\Controller\Api\Team\DivisionController

players:
    type:     rest
    resource: AppBundle\Controller\Api\Team\PlayerController
