ligue:
    resource: "@LigueBundle/Resources/config/routing.yml"
    prefix:   /

app:
    resource: '@AppBundle/Controller/'
    type: annotation

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

api_login_check:
    path: /api/login_check

places:
    type:     rest
    resource: AppBundle\Controller\Api\PlaceController

prices:
    type:     rest
    resource: AppBundle\Controller\Api\Place\PriceController

themes:
    type:     rest
    resource: AppBundle\Controller\Api\Place\ThemeController

divisions:
    type:     rest
    resource: Api\LigueBundle\Controller\Team\DivisionController

players:
    type:     rest
    resource: Api\LigueBundle\Controller\Team\PlayerController

teams:
    type:     rest
    resource: Api\LigueBundle\Controller\TeamController

tables:
    type: rest
    resource: Api\LigueBundle\Controller\TableController
